.five-reasons-container {
    width: 100%;
    float: left;
    padding: 10px 1em 0 1em;
    margin: 0 auto;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
}
.five-reasons-container .container {
    margin: 0 1em;
}
.five-reasons-container .container ul {
    text-align: center;
}
.five-reasons-container .container ul li {
    margin: 10px 0;
    font-size: 18px;
}
.did-you-know-container .slide-container, .customer-container .slide-container, .testimonials-container .slide-container {
    top: 0;
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 48em) {
    .five-reasons-container {
        padding: 50px 1em;
    }
    .five-reasons-container .container {
        margin: 0 auto;
    }
    .five-reasons-container .container ul {
        text-align: left;
        float: left;
    }
    .five-reasons-container .container .broadfix-boy {
        float: right;
        position: absolute;
        right: 0;
        bottom: -245px;
    }
    .five-reasons-container .container .broadfix-boy {
        float: left;
    }
    .five-reasons-container .container .broadfix-boy img {
        float: left;
    }
}