/*--------------------------------------------------------------
# Owl Carousel Banner
--------------------------------------------------------------*/
.about-our-products .slide-container, .about-our-company .slide-container {
    padding: 0;
    margin: 0 auto 20px auto;
    display: block;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
}
.about-our-products .slide-container, .about-our-company .slide-container {
    position: relative;
    top: -41px;
    margin: 0 auto;
}
.about-our-company .meet-the-team-container .slide-container {
    top: 0;
}
.about-our-products .owl-nav {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}
.about-our-products .carousel .owl-item img {
    max-width: 1020px;
    margin: 0 auto;
}
.about-our-products .entry-content p, .about-our-company .entry-content p {
    margin: 30px 0;
}