/*--------------------------------------------------------------
# Owl Carousel
--------------------------------------------------------------*/
.slide-container {
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    float: left;
    display: block;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
}
.home .slide-container {
    padding-top: 0;
}
.owl-nav {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}
.owl-carousel .owl-item img {
    margin: 0 auto;
}
.home .owl-carousel .owl-item img {
    width: 887px !important;
}
.owl-prev, .owl-next {
    display: none;
}
.next, .prev {
    display: none;
}
/*--------------------------------------------------------------
# Email sign-up
--------------------------------------------------------------*/
.cmApp_signupContainer form {
    font-family: 'soleto', Arial, serif;
}
.cmApp_signupContainer.cmApp_embedded {
    width: 100%;
    max-width: 960px !important;
    padding: 0 !important;
    margin: 0;
}
.cmApp_signupContainer #cmApp_signupForm > div {
    color: #002289 !important;
    font-size: 19px;
    font-weight: 200;
    text-align: center;
    display: block;
    font-family: 'soleto', Arial, serif;
}
.cmApp_signupContainer div {
    padding: 0 !important;
    margin: 0 !important;
}
.cmApp_fieldWrap {
    display: block;
    width: 100%;
    margin: 4px 0 0 0;
}
.cmApp_signupContainer #cmApp_signupForm .cmApp_formSubmitButton {
    background-color: transparent !important;
    color: #FFFFFF;
    padding: .4em 1em .4em;
    background: url(../img/right-arrow.png) no-repeat;
    border: none;
    font-size: 0;
    position: relative;
    top: 4px;
    width: 30px;
}
#cmApp_signupEmail {
    color: #002389;
    border: none;
    background: none;
    padding: 0 15px;
    font-family: 'soleto', Arial, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 19px;
    line-height: 19px;
    box-sizing: inherit;
    outline: none;
    text-align: left;
}
/*--------------------------------------------------------------
# Store Locator
--------------------------------------------------------------*/
.wpsl-select-wrap, .wpsl-results, .wpsl-gmap-canvas, #wpsl-search-wrap .wpsl-select-wrap, #wpsl-search-wrap .wpsl-input label, .wpsl-product-details {
    display: none;
}
#wpsl-result-list {
    width: 100%;
}
#wpsl-wrap #wpsl-result-list ul {
    display: flex;
}
#wpsl-wrap #wpsl-result-list ul li {
    flex-grow: 1;
    width: 100%;
    border: none;
    text-align: left;
}
#wpsl-search-wrap .wpsl-input {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}
#wpsl-search-btn, #wpsl-search-wrap input {
    border: none;
    box-shadow: none;
}
#wpsl-search-btn {
    line-height: 1;
    padding: .4em 1em .4em;
    background: url("../img/right-arrow.png") no-repeat;
    height: 30px;
    width: 30px;
}
.wpsl-search {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 0 20px;
}
.wpsl-search p {
    float: left;
    width: 100%;
    margin-top: 10px;
}
#wpsl-search-wrap div {
    float: right;
    margin-top: 10px;
}
#wpsl-search-wrap {
    float: left;
    width: 100%;
}
#wpsl-search-input {
    width: 80%!important;
    float: left;
}
#wpsl-result-list {
    height: 0;
}
.reveal-height {
    height: 220px !important;
}
.wpsl-directions {
    display: none !important;
}
.wpsl-store-location, .wpsl-direction-wrap {
    text-align: left;
}
.wpsl-direction-wrap, .wpsl-contact-details {
    font-weight: 700;
}
#wpsl-wrap #wpsl-result-list li.wpsl-preloader, #wpsl-wrap #wpsl-result-list ul li.no-results {
    width: 100%;
}
#wpsl-wrap #wpsl-result-list ul .products {
    display: none;
}
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media all and (min-width: 32em) {
    #wpsl-wrap #wpsl-result-list ul li {
        min-height: 250px;
    }
}

@media all and (min-width: 60em) {
    .owl-prev {
        display: block;
        position: absolute;
        left: 0;
        top: -270px;
    }
    .owl-next {
        display: block;
        position: absolute;
        right: 0;
        top: -270px;
    }
    .next, .prev {
        display: block;
        width: 25px;
    }
    .customer-container .owl-prev, .meet-the-team-container .owl-prev {
        left: -50px;
    }
    .customer-container .owl-next, .meet-the-team-container .owl-next  {
        right: -50px;
    }
    /*Campaign monitor form*/
    .cmApp_signupContainer form {
        display: flex;
    }
    .cmApp_signupContainer #cmApp_signupForm > div {
        font-size: 19px;
        text-align: left;
        flex-grow: 1;
    }
    .cmApp_formHeader {
        line-height: 38px !important;
    }
    .cmApp_fieldWrap {
        display: inline-block;
        float: right;
        width: 35%;
    }
    /*store locator*/
    .wpsl-search {
        max-width: 1020px;
        text-align: left;
        margin: 0 auto 20px auto;
        line-height: 40px;
    }
    .wpsl-search p {
        line-height: 70px;
        margin: 0;
        font-size: 1.2em;
        width: auto;
    }
    #wpsl-search-wrap {
        float: right;
        width: 40%;
    }
    #wpsl-search-wrap .wpsl-input {
        width: 80%;
    }
    #wpsl-search-wrap div {
        margin: 10px 0;
    }
    #wpsl-stores {
        display: block;
    }
}