.testimonials-container {
    width: 100%;
    float: left;
}
.testimonials {
    margin: 25px 1em 74px 1em;
}
@media all and (min-width: 60em) {
    .testimonials {
        margin: 50px auto;
    }
}