.about-our-products {
    .slide-container .carousel .slide img {
        padding: 30px 0 0 0;
    }

    .did-you-know-container {
        width: 100%;
        float: left;
        background: #002389;
    }

    .customer-container {
        width: 100%;
        float: left;
    }

    .did-you-know-container {
        .container ul {
            text-align: center;
            float: left;
            width: 100%;
            li {
                margin: 10px 0;
            }
        }
        .slide-container {
            margin: 0 auto 0 auto;
            display: block;
            background: none;
            width: 100%;
        }
    }
    .did-you-know-container .slide-container, .customer-container .slide-container, .testimonials-container .slide-container {
        margin: 0 auto 0 auto;
        display: block;
        background: none;
        width: 100%;
        top: 0;
    }

    .did-you-know-container .slide-container {
        width: 100%;
        float: right;
        padding: 0;
    }

    .did-you-know-container {
        .owl-nav {
            display: none;
        }
        .carousel .owl-item img {
            max-width: 1020px;
            margin: 0 auto;
        }
    }

    .testimonial-carousel {
        .owl-dots {
            margin: 10px 0 20px 0;
        }
        .owl-dot {
            display: inline-block;
            zoom: 1;
        }
        .owl-dots .owl-dot {
            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background: #405aa7;
                display: block;
                -webkit-backface-visibility: visible;
                -webkit-transition: opacity 200ms ease;
                -moz-transition: opacity 200ms ease;
                -ms-transition: opacity 200ms ease;
                -o-transition: opacity 200ms ease;
                transition: opacity 200ms ease;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                &.active {
                    background: #002389;
                }
            }
            &:hover span, .active {
                background: #002389;
            }
        }
    }

    .did-you-know-container {
        .slide-container .slide h4 {
            color: #405aa7;
            font-size: 23px;
            font-weight: 600;
        }
        .container .icon {
            margin-top: 20px;
        }
    }

    .customer-title p {
        margin-top: 10px;
    }

    .customer-column {
        display: inline;
        margin: 0 1em;
        div {
            margin: 20px 0;
            width: 100%;
        }
    }

    .customer-title {
        width: 100%;
        background: #ffdd00;
        padding: 30px;
        text-align: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        min-height: 190px;
    }

    .customer-image {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    }

    .customer-container h1 {
        margin: 40px auto 20px auto;
    }
}

#goldenShim {
    display:none;
    max-width: 600px;
    height:550px !important;
}
.goldenShim {
    .outside {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 10% 75%, 0 85%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 10% 75%, 0 85%);
        background: #CFAA5A;
        position: relative;
        height: 650px;
    }
    .inside {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 8% 74%, 0 82%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 8% 74%, 0 82%);
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: -moz-linear-gradient(-45deg, rgba(227, 204, 158, 1) 0%, rgba(227, 204, 158, 1) 36%, rgba(207, 170, 90, 1) 65%, rgba(207, 170, 90, 1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(227, 204, 158, 1)), color-stop(36%, rgba(227, 204, 158, 1)), color-stop(65%, rgba(207, 170, 90, 1)), color-stop(100%, rgba(207, 170, 90, 1)));
        background: -webkit-linear-gradient(-45deg, rgba(227, 204, 158, 1) 0%, rgba(227, 204, 158, 1) 36%, rgba(207, 170, 90, 1) 65%, rgba(207, 170, 90, 1) 100%);
        background: -o-linear-gradient(-45deg, rgba(227, 204, 158, 1) 0%, rgba(227, 204, 158, 1) 36%, rgba(207, 170, 90, 1) 65%, rgba(207, 170, 90, 1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(227, 204, 158, 1) 0%, rgba(227, 204, 158, 1) 36%, rgba(207, 170, 90, 1) 65%, rgba(207, 170, 90, 1) 100%);
        background: linear-gradient(135deg, rgba(227, 204, 158, 1) 0%, rgba(227, 204, 158, 1) 36%, rgba(207, 170, 90, 1) 65%, rgba(207, 170, 90, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3cc9e', endColorstr='#cfaa5a', GradientType=1);
        padding: 25px 25px 15px 25px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: #CFAA5A solid 5px;
    }
    h1 {
        color: #ffffff;
        font-size: 30px;
        line-height: 36px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    h1.light {
        font-weight: 300;
        margin-bottom: 20px;
    }
}
.goldenShim input[type="text"],
.goldenShim input[type="email"],
.goldenShim input[type="url"],
.goldenShim input[type="password"],
.goldenShim input[type="search"],
.goldenShim input[type="number"],
.goldenShim input[type="tel"],
.goldenShim input[type="range"],
.goldenShim input[type="date"],
.goldenShim input[type="month"],
.goldenShim input[type="week"],
.goldenShim input[type="time"],
.goldenShim input[type="datetime"],
.goldenShim input[type="datetime-local"],
.goldenShim input[type="color"],
.goldenShim textarea {
    color: #002389;
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}
.goldenShim input[type="submit"] {
    background: #D02E2A;
    width: 100%;
    max-width: 300px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 10px 5px;
    margin: 20px auto 0 auto;
}
div.pp_woocommerce .pp_content_container {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 60em) {
    .did-you-know-container {
        margin: 0 auto 20px auto;
        .container {
            margin: 0 auto;
        }
        .container {
            ul {
                text-align: left;
            }
            .icon {
                float: left;
                position: absolute;
                top: -30px;
                left: 0;
                z-index: 100;
            }
        }
    }
    .about-our-products .did-you-know-container .slide-container {
        width: 80%;
        float: right;
        padding: 0;
    }
    .customer-column {
        float: left;
        margin: 0;
        width: 100%;
    }
    .goldenShim {
        .outside {
            height: 550px;
        }
    }
}