.about-our-company .entry-content {
    margin: 0 1em;
}

.social-block-container {
    margin: 40px 0;
    float: left;
    .column {
        margin: 10px 0;
        .p1 {
            padding: 0 15px;
        }
    }
    .social-container {
        width: 100%;
        ul.social {
            float: none;
        }
        .social-icon {
            width: 34px;
            height: 34px;
        }
    }
    .image {
        width: 100%;
        margin-bottom: 20px;
        img {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            max-height: 320px;
            width: 100%;
            overflow: hidden;
        }
    }
}

.p1 {
    margin-bottom: 20px;
}

.text-container {
    width: 100%;
    float: left;
    padding: 10px 0;
    margin: 0 auto;
    background: #002389;
}
.about-our-company .meet-the-team-container .slide-container {
    background: none;
}
.meet-the-team-container {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 auto;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
}
.meet-the-team-container .slide-container {
    position: relative;
    top: 0;
    margin: 0 auto;
}
.meet-the-team-container .slide-container .owl-stage {
    padding: 10px 0 0 0;
}
.profile-picture {
    width: auto;
    height: 100%;
    display: inline-block;
}
.profile-container {
    float: left;
}
.profile {
    text-align: center;
}
h1.profile-intro {
    margin: 20px 0;
}
.social-icons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.social-icons li {
    display: inline-block;
    margin: 10px 3px;
}
.large {
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0;
}
.team-image {
    max-height: 250px;
    width: auto!important;
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 30em) {
    .about-our-company .entry-content {
        margin: 0 auto;
    }
    .social-block-container {
        float: left;
        width: 100%;
        margin: 60px auto;
        .column {
            float: left;
            width: 48%;
            margin: 30px 1% 40px 1%;
        }
        .social-container .social-icon {
            width: 65px;
            height: 65px;
            margin: 0 5px;
        }
    }
}

@media all and (min-width: 32em) {
    .meet-the-team-container {
    }
    .meet-the-team-container .container {
        margin: 0 auto;
    }
    .meet-the-team-container .container ul {
        text-align: left;
    }
    .meet-the-team-container .container .broadfix-boy {
        float: right;
        position: absolute;
        right: 0;
        bottom: -230px;
    }
    .profile-picture {
        width: 48%;
        margin-right: 2%;
        float: left;
        height: 500px;
        max-height: 500px;
    }
    .profile-container {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;
        min-height: 500px;
    }
    .profile {
        text-align: left;
    }
    h1.profile-intro {
        margin: 0 0 20px 0;
    }
    .team-image {
        max-height: 550px;
    }
}
