.contact {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 auto;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
}
.three-col {
    margin: 20px 0;
}
.three-col .icon {
    text-align: center;
    margin: 0 auto;
}
.three-col h1 {
    margin: 10px 0;
}
.wpgmp_map_container {
    width: 100%;
    float: left;
}
.contact-intro {
    background: #002389;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="url"],
.contact input[type="password"],
.contact input[type="search"],
.contact input[type="number"],
.contact input[type="tel"],
.contact input[type="range"],
.contact input[type="date"],
.contact input[type="month"],
.contact input[type="week"],
.contact input[type="time"],
.contact input[type="datetime"],
.contact input[type="datetime-local"],
.contact input[type="color"],
.contact textarea {
    color: #002389;
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}
select.dropdown {
    -webkit-appearance: none;
    color: #002389;
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
    width: 100%;
}
.contact input[type="submit"] {
    background: #002389;
    width: 100%;
    max-width: 300px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px auto;
}
div.wpcf7-response-output {
    border: none;
    padding: 15px;
    width: 50%;
    margin: 0 auto 25px auto;
}
.wpcf7-mail-sent-ok, .wpcf7-validation-errors {
    display: block;
    border: none;
    width: 100%;
    background: #002389;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
}
.wpcf7-validation-errors {
    background: none;
    font-weight: 300;
    text-align: center;
    font-size: 1.25em;
    color: red;
    margin: 0 auto 20px auto;
}
.stockist {
    display: inline-block;
}
.stockist .stockist-container {
    margin: 40px 0 0 0;
}
.stockist .cta-block-container {
    background: none;
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 40em) {
    .three-col {
        width: 31%;
        margin: 10px 1%;;
        float: left;
    }
    .two-col {
        width: 49%;
        float: left;
        margin: 0 1%;
    }
    .left {
        margin-left: 1%;
        margin-right: 0;
    }
    .right {
        margin-right: 1%;
        margin-left: 0;
    }
    .contact-intro {
        float: left;
        width: 100%;
        text-align: left;
        margin: 0 auto 10px auto;
    }
    .contact input[type="text"],
    .contact input[type="email"],
    .contact input[type="url"],
    .contact input[type="password"],
    .contact input[type="search"],
    .contact input[type="number"],
    .contact input[type="tel"],
    .contact input[type="range"],
    .contact input[type="date"],
    .contact input[type="month"],
    .contact input[type="week"],
    .contact input[type="time"],
    .contact input[type="datetime"],
    .contact input[type="datetime-local"],
    .contact input[type="color"],
    .contact textarea {
        margin: 10px 0;
        width: 100%;
    }
    .contact textarea {
        height: 185px;
    }
}
