.stockist-link {
    margin: 10px auto;
    display: inline-block;
    a {
        border: 1px solid #002389;
        padding: 0 12px 5px 12px;
        line-height: 26px;
        text-align: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
    }
    .stockist-icon {
        height: 26px;
        width: 26px;
        position: relative;
        top: 6px;
        display: inline-block;
    }
}

div.find-a-stockist {
    #wpsl-wrap {
        width: 100%;
        background: #ffdd00;
    }
    .wpsl-select-wrap, .wpsl-results {
        display: none;
    }
    .wpsl-gmap-canvas {
        display: block;
    }
    #wpsl-gmap {
        margin-bottom: 0;
    }
    #wpsl-result-list {
        width: 100%;
        margin: 0 auto;
        background: #ffffff;
    }
    #wpsl-result-list ul {
        display: block;
        max-width: 1020px;
        margin: 0 auto;
    }
    #wpsl-stores {
        display: inline;
    }
    #wpsl-wrap #wpsl-result-list #wpsl-stores ul {
        display: inline-block;
        list-style-type: none!important;
        margin-top: 15px;
        padding: 0 1em;
        li {
            float: left;
            width: 100%;
            border: none;
            margin: 0 auto;
            text-align: left;
            background: #F6F8F7;
            padding: 20px;
            display: block;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .store-listing {
            .store {
                width: 100%;
                float: left;
                .wpsl-distance {
                    font-weight: 600;
                }
                .wpsl-directions {
                    font-weight: 600;
                }
                .wpsl-directions:after {
                    display: inline-block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    background: url('../img/right-arrow-sml.png') no-repeat;
                    margin-left: 5px;
                }
            }
            .products {
                width: 100%;
                float: left;
                margin-top: 20px;
                display: block;
                .title {
                    display: block;
                    background: #ffdd00;
                    padding: 10px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 5px;
                    line-height: 20px;
                    margin: 0;
                }
                ul {
                    margin-top: 10px;
                }
                ul li {
                    float: left;
                    width: 100%;
                    min-height: inherit;
                    list-style-type: none!important;
                    padding: 3px 0;
                    margin-bottom: 0;
                }
                ul li:before {
                    content: "\2713\0020";
                    color: #ffdd00;
                }
            }
        }
    }
    #wpsl-search-wrap .wpsl-input {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 100%;
    }
    #wpsl-search-btn, #wpsl-search-wrap input {
        border: none;
        box-shadow: none;
    }
    #wpsl-search-btn {
        line-height: 1;
        padding: .4em 1em .4em;
        background: url("../img/right-arrow.png") no-repeat;
        height: 30px;
        width: 30px;
    }
    .wpsl-search {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #002389;
        font-size: 25px;
        font-weight: 100;
        text-align: center;
        padding: 0 1em;
        background-color: #ffdd00;
    }
    .wpsl-search p {
        float: left;
        width: 100%;
        margin-top: 10px;
        font-weight: 400;
    }
    #wpsl-search-wrap div {
        float: right;
        margin-top: 10px;
    }
    #wpsl-search-wrap {
        float: left;
        width: 100%;
    }
    #wpsl-search-input {
        width: 80%!important;
        float: left;
    }
    #wpsl-result-list {
        height: 0;
    }
    .reveal-height {
        height: auto!important;
    }
    .wpsl-directions {
        display: block !important;
    }
    .wpsl-store-location, .wpsl-direction-wrap {
        text-align: left;
    }
    .wpsl-direction-wrap, .wpsl-contact-details {
        font-weight: 700;
    }
    #wpsl-wrap #wpsl-result-list li.wpsl-preloader, #wpsl-wrap #wpsl-result-list ul li.no-results {
        width: 100%;
    }
    .cta-block-container {
        background-color: #ffffff;
    }


    /*Media Queries Start*/
    @media all and (min-width: 32em) {
        #wpsl-wrap #wpsl-result-list #wpsl-stores ul {
            padding: 0;
            li {
                width: 48%;
                margin: 1%;
                min-height: 270px;
            }
            .store-listing {
                .store {
                    width: 48%;
                    float: left;
                    margin: 1%;
                    padding-right: 10px;
                }
                .products {
                    width: 48%;
                    float: left;
                    margin: 1%;
                }
            }
        }

    }
    @media all and (min-width: 60em) {
        .stockist-link {
            float: left;
            margin: 0 10px 0 15px;
        }
        .wpsl-search {
            max-width: 1020px;
            text-align: left;
            margin: 10px auto;
            line-height: 40px;
            padding: 0;
        }
        .wpsl-search p {
            line-height: 70px;
            margin: 0;
            font-size: 1.2em;
            width: auto;
        }
        #wpsl-search-wrap {
            float: right;
            width: 40%;
        }
        #wpsl-search-wrap .wpsl-input {
            width: 80%;
        }
    }

}
@media all and (min-width: 60em) {
    .stockist-link {
        float: left;
        margin: 0 10px 0 15px;
    }
}

