/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
h1.entry-title {
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 30px 0;
}
h2.title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
    color: #002389;
    border-bottom: 1px #CED5E8 solid;
    display: block;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
.widget-title {
    display: block;
    background: #002389;
    color: #fff;
    padding: 5px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: 400;
}
.widget {
    margin: 0;
}
.widget ul li a, ul.news-details li a {
    color: #405aa7;
    font-size: 15px;
    font-weight: 100;
    line-height: 15px;
}
.news-more p {
    margin: 30px 0;
    color: #405aa7
}
blockquote {
    background: #f2f4f9;
    padding: 40px;
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 26px;
    color: #405aa7;
    font-weight: 100
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.single-post {
    .cmApp_embedFormContainer {
        padding: 10px;
        margin-top: 10px;
        border:#002289 1px solid;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        .cmApp_fieldWrap {
            width: 92%;
        }
    }

}

.whats-happening {
    width: 100%;
    float: left;
}
.news-posts {
    margin:	20px 0;
    display: block;
    text-align: left;
}
.news-posts ul {
    display: block;
}
.news-posts ul.single-post {
    margin-bottom: 20px;
}
.news-posts ul li {
    margin-bottom:	20px;
}
.news-posts ul li.news-title {
    margin-bottom: 0;
}
ul.news-details li {
    display: inline-block;
    margin-right: 15px;
    color: #405aa7;
    font-size: 15px;
    font-weight: 100;
    line-height: 15px;
}
.news-image {
    max-height: 500px;
    overflow: hidden;
}
.side-bar {
    margin:	20px 0 50px 0;
    display: block;
    text-align: left;
}
.widget ul {
    margin-bottom: 20px;
    width: 100%;
}
.widget ul li {
    display: block;
    border-bottom: 1px solid #CED5E8;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.entry-footer {
    width: 100%;
    float: left;
}
.entry-footer .mailing-bar-container {
    width: 100%;
    float: none;
}
.entry-footer .mailing-bar {
    text-align: left;
    margin: 0;
    font-size: 19px;
    font-weight: 100;
    padding: 0;
    display: inline-block;
    height: auto;
}
.entry-footer .mailing-bar .search-field {
    width: 75%;
}
.entry-footer .email-form {
    width: 100%;
    text-align: left;
    border: 1px solid #405aa7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0;
}
ul.share-buttons li {
    float: left;
    display: inline-block;
    line-height: 35px;
}
ul.share-buttons {
    margin-bottom: 5px;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.moretag, .back-button  {
    background: #ffdd00;
    width: 100%;
    color: #002389;
    font-size: 21px;
    font-weight: 500;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 6px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
}
.back-button {
    float: left;
}
a.moretag  {
    color: #002389;
}
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.category-icon, .author-icon {
    height: 12px;
    margin-right: 15px;
}
.share-icon {
    width: 35px;
    line-height: 35px;
    margin-right: 10px;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media all and (min-width: 30em) {
    /*--------------------------------------------------------------
    ## Typography
    --------------------------------------------------------------*/
    h1.entry-title {
        text-align:left;
    }
    /*--------------------------------------------------------------
    # Content
    --------------------------------------------------------------*/
    .whats-happening .entry-content, article.post .entry-content {
        margin: 0 auto;
    }
    .news-posts {
        width:65%;
        float: left;
        margin: 20px 5% 0 0;
    }
    .side-bar {
        width:30%;
        float: left;
        margin:	20px 0 0 0;
    }
    /*--------------------------------------------------------------
    # Buttons
    --------------------------------------------------------------*/
    .moretag, .back-button {
        width: 210px;
    }
}