.stock-broadfix .slide-container {
    padding: 0;
    margin: 0 auto 20px auto;
    display: block;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}
.stock-broadfix .slide-container {
    position: relative;
    top: -41px;
    margin: 0 auto;
    padding:  20px 0 80px 0;
}
.stock-broadfix .owl-nav {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}
.stock-broadfix .carousel .owl-item img {
    max-width: 1020px;
    margin: 0 auto;
}
.stock-broadfix .entry-content p {
    margin: 30px 0;
}
.stock-broadfix .slide h1 {
    font-family: futura-pt-condensed, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 40px;
}
.stock-broadfix .slide h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    margin: 5px auto 20px auto;
    max-width: 550px;
}
.join-us-container {
    position: relative;
    display: inline-block;
}
.join-us {
    height: 100%;
}
.join-us img {
    width: 60%;
    position: relative;
    margin-top: -80px;
}
.reasons {
    float: left;
    margin: 0 1em;
}
.reasons .entry-content {
    margin: 0;
    padding: 0;
}
.reasons .entry-content p {
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
}
.reasons .entry-content p .site-button {
    margin-top: 15px;
}
.marketing-container {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 auto;
    background: rgba(252,244,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,244,0,1)), color-stop(50%, rgba(252,244,0,1)), color-stop(70%, rgba(255,221,0,1)), color-stop(100%, rgba(255,221,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,244,0,1) 0%, rgba(252,244,0,1) 50%, rgba(255,221,0,1) 70%, rgba(255,221,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf400', endColorstr='#ffdd00', GradientType=1 );
}
.marketing-picture, .marketing-content  {
    margin: 0 1em;
}
.distributor-info {
    float: left;
    margin: 20px 0;
}
.distributor-info p {
    padding: 0 15px;
}
.distributor-form {
    float: left;
    width: 100%;
    margin: 0;
}
.distributor-info .two-col {
    margin-bottom: 20px;
}
.distributor-form .contact-intro {
    text-align: center;
}
/*--------------------------------------------------------------
## Distributor Form
--------------------------------------------------------------*/
.stock-broadfix input[type="text"],
.stock-broadfix input[type="email"],
.stock-broadfix input[type="url"],
.stock-broadfix input[type="password"],
.stock-broadfix input[type="search"],
.stock-broadfix input[type="number"],
.stock-broadfix input[type="tel"],
.stock-broadfix input[type="range"],
.stock-broadfix input[type="date"],
.stock-broadfix input[type="month"],
.stock-broadfix input[type="week"],
.stock-broadfix input[type="time"],
.stock-broadfix input[type="datetime"],
.stock-broadfix input[type="datetime-local"],
.stock-broadfix input[type="color"],
.stock-broadfix textarea {
    color: #002389;
    border: none;
    background: #F6F8F7;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}
.stock-broadfix textarea {
    height: 185px;
}
.stock-broadfix input[type="submit"] {
    background: #002389;
    width: 100%;
    max-width: 300px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px auto;
}
.stock-broadfix select.dropdown {
    -webkit-appearance: none;
    color: #002389;
    border: none;
    background: #F6F8F7;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
    width: 100%;
}
.two-col h1 {
    margin: 0 0 10px 0;
}
.wpcf7-not-valid-tip {
    text-align: left;
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 40em) {
    .stock-broadfix .slide-container {
        padding:  50px 0 80px 0;
    }
    .stock-broadfix .slide h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .stock-broadfix .slide h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .join-us-container {
        width: 30%;
        margin-left: 5%;
        float: left;
    }
    .join-us {
        height: 297px;
        margin: 0;
    }
    .reasons {
        width: 60%;
        margin: 0 0 0 5%;
    }
    .reasons .entry-content p {
        text-align: left;
    }
    .reasons .entry-content p a {
        float: left;
    }
    .join-us img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
    }
    .marketing-container {
        float: left;
        width: 100%;
        padding: 60px 0 40px 0;
    }
    .marketing-content {
        width: 46%;
        float: left;
        margin: 0 0 0 2%;
        text-align: left;
    }
    .marketing-content .site-button {
        float: left;
    }
    .marketing-picture {
        width: 46%;
        margin-right: 2%;
        float: left;
    }
    .reasons .entry-content p .site-button {
        float: left;
        width: 200px;
    }
    .distributor-info {
        margin: 60px 0 20px 0;
    }
    .distributor-info .two-col {
        width: 48%;
        float: left;
        margin: 0 1%;
    }
    .distributor-form {
        margin: 20px 0 0 0;
    }
    .stock-broadfix input[type="text"],
    .stock-broadfix input[type="email"],
    .stock-broadfix input[type="url"],
    .stock-broadfix input[type="password"],
    .stock-broadfix input[type="search"],
    .stock-broadfix input[type="number"],
    .stock-broadfix input[type="tel"],
    .stock-broadfix input[type="range"],
    .stock-broadfix input[type="date"],
    .stock-broadfix input[type="month"],
    .stock-broadfix input[type="week"],
    .stock-broadfix input[type="time"],
    .stock-broadfix input[type="datetime"],
    .stock-broadfix input[type="datetime-local"],
    .stock-broadfix input[type="color"],
    .stock-broadfix textarea {
        margin: 10px 0;
        width: 100%;
        max-width: 100%;
    }
}

@media all and (min-width: 60em) {
    .stock-broadfix .slide h3 {
        margin: 5px auto 20px auto;
        width: 100%;
    }
    .marketing-content {
        padding-top: 40px;
    }
}