/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    color:#405aa7;
    font-size: 17px;
    font-family: 'soleto', Arial, serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    width: 100%;
    background: #ffffff;
}
p {
    margin: 0;
    padding: 0;
}
::selection {
    background:#ffdd00;
}
::-moz-selection {
    background:#ffdd00;
}
a {
    color: #002389;
    text-decoration:none;
    border:none;
}
.light-blue, a.light-blue  {
    color: #405aa7;
}
a:visited {
    color: inherit;
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.yellow, a.yellow, .yellow a {
    color: #fcf400;
}
.yellow-bg {
    background: #ffdd00;
}
.blue, a.blue {
    color: #002389;
}
.blue-bg {
    background: #002389;
}
.white, a.white {
    color: #FFFFFF;
}
.white-bg {
    background: #ffffff;
}
.uppercase {
    text-transform: uppercase;
}
.margin-top-lrg {
    margin-top: 30px;
}
.float-left {
    float: left;
}
.mobile {
    display: block;
}
.desktop-only {
    display: none;
}
.hover:hover {
    opacity: 0.85;
}
/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
h1 {
    color: #002389;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 20px 0;
    margin: 0;
}
h3 {
    color: #002389;
    font-size: 35px;
    line-height: 38px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h5 {
    color: #405aa7;
    font-size: 23px;
    font-weight: 400;
    margin:10px;
}
h6 {
    color: #405aa7;
    font-size: 19px;
    font-weight: 600;
}
.breadcrumbs a, .back a {
    color: #405aa7;
    text-transform: none;
}
.testimonial-text p {
    color: #405aa7;
    font-size: 17px;
    font-weight: 100;
}
.testimonial-text .attribute {
    color: #405aa7;
    font-size: 19px;
    font-weight: 500;
    margin-top:10px;
}
.latest-news p {
    color: #405aa7;
    font-size: 17px;
    font-weight: 100;
}
a .post-title {
    color: #002389;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 30px;
    display: block;
}
.address-title {
    color: #405aa7;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
}
.address {
    color: #405aa7;
    font-size: 15px;
    font-weight: 100;
}
.attribute {
    font-weight: 700;
    margin-top: 10px;
}
::-webkit-input-placeholder {
    color: #002389;
}
:-moz-placeholder { /* Firefox 18- */
    color: #002389;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #002389;
}
:-ms-input-placeholder {
    color: #002389;
}
/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.banner {
    width: 100%;
}
.nav {
    width: 100%;
    margin: 0 auto;
    float: left;
    display: block;
}
nav.top {
    background: #ffdd00;
    width: 100%;
    padding: 15px 0;
    float: left;
}
.search-bar {
    width: 100%;
    float: left;
}
.social-container {
    width: auto;
    margin: 0 auto;
    float: right;
}
.social {
    margin: 5px auto;
}
ul.social li {
    display: inline-block;
    margin: 0 2px;
}
ul.social li.last {
    margin: 0;
}
.branding-container {
    background: #ffdd00;
    width: 100%;
    float: left;
}
.branding {
    position: relative;
    top: 0;
    max-width: 1020px;
    margin: 0 auto;
}
.main-navigation {
    background: #ffffff;
    width: 100%;
    padding: 0;
    margin: 0;
}
.main-navigation a {
    display: block;
    text-decoration: none;
    color: #002389;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "soleto", sans-serif;
    font-weight: 100;
}
.menu-primary-nav-container {
    width: 100%;
    margin: 0 auto;
}
.secondary-navigation {
    width:100%;
    background: #002389;
    margin:0 auto;
    float:left;
    color: #fcf400;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.menu-secondary-menu-container {
    max-width: 1020px;
    margin: 0 auto;
}
.secondary-navigation a {
    color: #fcf400;
}
ul.menu {
    margin:0 auto;
    display: block;
    max-width: 1020px;
    padding: 10px 0;
}
.main-navigation ul.menu li:first-child, footer ul.menu li.home-icon  {
    display: none;
}
ul.menu li, .menu-secondary-menu-container ul.menu li {
    width: 100%;
    margin: 5px 0;
    padding: 0;
}
.twitter-link {
    position: relative;
    bottom: -5px;
    width: 20px;
}

.footer-column ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}
.footer-column ul li, .footer-column .menu-secondary-menu-container ul.menu li {
    padding-right: 0;
    float: left;
    width: 100%;
    line-height: inherit;
    margin: 0;
}
.footer-column a {
    color: #405aa7;
    font-weight: 100;
    font-size: 15px;
}
.footer-column ul.menu {
    display: inline;
}
.mobile-menu {
    float: right;
    margin-right: 1em;
}
.nav-wrapper {
    display: none;
}
.mobile-only {
    display: block;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-content {
    float: left;
    width: 100%;
    margin-bottom: 45px;
}
.container {
    max-width: 1020px;
    padding: 0 1em;
    margin: 0 auto;
    position: relative;
    clear: both;
}
.entry-content {
    margin: 0;
    padding: 0;
}
.breadcrumb-container {
    width: 100%;
    float: left;
    position: relative;
    z-index: 100;
    background: #ffdd00;
    margin-bottom: 40px;
}
.mailing-bar-container, .news-container, .stockist-container, .latest-news-container {
    width: 100%;
    float: left;
}
.home .stockist-container .block {
    margin: 0 auto;
}
.block {
    max-width: 1020px;
    position: relative;
    margin: 15px auto;
}
.block-search {
    margin: 30px auto;
}
.mailing-bar {
    background: #ffffff;
    margin: 0 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #002289;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    padding: 6px 20px;
}
.cta-block-container {
    width: 100%;
    float: left;
    background: #ffdd00;
    padding: 20px 0;
    margin: 0 auto;
}
.cta-block {
    width: 100%;
    margin: 0 auto;
}
.cta-block ul {
    padding: 0;
    margin: 0;
}
.cta-block ul li {
    border:#002289 0.25em solid;
    width: auto;
    margin: 20px 1em;
    display: inline-block;
    flex-grow: 1;
    background: rgba(81,104,175,1);
    background: -moz-linear-gradient(-45deg, rgba(81,104,175,1) 0%, rgba(0,34,137,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(81,104,175,1)), color-stop(100%, rgba(0,34,137,1)));
    background: -webkit-linear-gradient(-45deg, rgba(81,104,175,1) 0%, rgba(0,34,137,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(81,104,175,1) 0%, rgba(0,34,137,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(81,104,175,1) 0%, rgba(0,34,137,1) 100%);
    background: linear-gradient(135deg, rgba(81,104,175,1) 0%, rgba(0,34,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5168af', endColorstr='#002289', GradientType=1 );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.cta-block-image {
    float:left;
    width:35%;
    padding:20px 5px;
    position: relative;
}
.cta-block-text {
    font-family: 'soleto', Arial, serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    float: left;
    width: 65%;
    padding: 20px 5px;
    text-align: left;
    color: #fcf400;
    text-transform: uppercase;
    min-height: 200px;
    position: relative;
}
.cta-block-text p {
    background: #fff;
}
/*.testimonial-bar-container {
    width: 100%;
    background: #002289;
    float: left;
}
.testimonial-bar {
    max-width: 1020px;
    margin: 0 auto;
}*/
ul.testimonial-bar {
    padding: 5px 0;
}
ul.testimonial-bar li {
    color: #fcf400;
    font-weight: 400;
    font-size: 24px;
    padding: 15px 0;
    line-height: 0;
    display: inline-block;
    width: 96%;
    margin: 5px 2%;
    text-align: center;
}
ul.testimonial-bar li.white {
    color: #ffffff;
    line-height: 35px;
}
.testimonial-block-container {
    width: 100%;
    float: left;
    background: url("../img/testimonial-bg.jpg") no-repeat top center;
    background-size: contain;
    padding: 0 1em;
    margin-bottom: 55px;
}
.testimonial {
    width: 100%;
    float:left;
    margin-top: 70px;
    margin-bottom: 40px;
}
.testimonial-button {
    float: left;
    margin: 20px 0;
    width: 100%;
}
.testimonial-text {
    text-align: center;
    margin: 0;
}
.testimonial-text div {
    display: none;
}
.testimonial-img {
    float: left;
    width: 100%;
}
.stockist-bar {
    margin: 0 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 12px 20px;
    line-height:30px;
}
.latest-news {
    margin: 25px 1em 74px 1em;
}
.news-container {
    padding: 0 1em;
}
.news-column {
    float: left;
}
.news-column div {
    margin: 0;
    width: 100%;
}
.news-column a {
    display: block;
}
.news-column a div {
    max-height: 315px;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 23px 0;
}
.news-column a div .no-margin-top {
    margin: 0;
}
.post-title {
    width: 100%;
    background: #ffdd00;
    min-height: 165px;
    padding: 25px;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
}
.site-footer {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}
.footer-column {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px;
}
.details {
    width: 100%;
    float: left;
}
.details ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.breadcrumbs {
    float: left;
    font-size: 14px;
    margin:10px 0;
}
.back {
    float: right;
    font-size: 14px;
    margin:10px 1em;
}
.page-privacy-policy .entry-content, .page-terms-conditions .entry-content {
    text-align: left;
    margin: 15px auto;
}
.page-privacy-policy .entry-content ul, .page-terms-conditions .entry-content ul {
    list-style-type: initial;
    margin: 0;
    padding: inherit;
}
.page-privacy-policy .entry-content p, .page-terms-conditions .entry-content p {
    margin: inherit;
    padding: inherit;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.branding img {
    width: 225px;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    margin: 0 1em;
}
.footer-logo img {
    width: 225px;
    position: relative;
    top: -26px;
    right: auto;
    left: auto;
    margin: 0 auto;
    float: none;
}
.testimonial-text div img {
    position: absolute;
    right: 0;
    bottom: 30px;
}
.news-column img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.site-button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 400;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.button {
    max-width: 300px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 400;
    text-transform: none;
    display: block;
    text-align: center;
    width: 91%;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
}
.news-button {
    max-width: 300px;
    font-size: 21px;
    font-weight: 400;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 20px auto 0 auto;
}
.news-button a {
    text-decoration: none;;
    color: #fff;
}
.low {
    bottom: 5px;
}
.med {
    bottom: 10px;
}
.cta-block-image .img-one {
    width: 184px;
    position: absolute;
    left: -50px;
    max-width: inherit;
    top: 5px;
}
.cta-block-image .img-two {
    width: 121px;
    position: absolute;
    left: -10px;
    max-width: inherit;
    top: -24px;
}
.cta-block-image .img-three {
    width: 90px;
    position: absolute;
    left: 10px;
    max-width: inherit;
    top: 7px;
}
.cta-block-image .img-four {
    width: 111px;
    position: absolute;
    left: -9px;
    max-width: inherit;
    top: 22px;
}
.view-range {
    bottom: 39px;
    right: 40px;
    max-width: 50%;
}
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.social-icon {
    height: 31px;
    width: 31px;
}
.owl-carousel .owl-item img.social-icon {
    height: 35px;
    width: 35px;
}
.woocommerce-product-search input[type="submit"] {
    line-height: 1;
    padding: .4em 1em .4em;
    background: url("../img/search.png") no-repeat;
    border: none;
    height: 30px;
    width: 30px;
    text-indent: -9999px;
}
.icon-arrow-right {
    line-height: 2;
    padding: .4em 1em .4em;
    background: url("../img/right-arrow.png") no-repeat;
    border: none;
    height: 30px;
    width: 30px;
}
.home-icon a {
    background: url("../img/home.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px;
    padding: 0 30px 0 0;
}
.hamburger {
    float: right;
    background: url("../img/menu-icon.svg") no-repeat;
    padding: 15px;
    margin: 10px 0;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
textarea {
    width: 70%;
    max-width: 100%;
}
.email-form {
    width: 100%;
    text-align: center;
}
.stockist-form {
    float: none;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
.search-field {
    width: 70%;
    color: #002389;
    font-family: 'soleto', Arial, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    -webkit-appearance: none;
}
.postcode-field {
    width: 65%;
    margin: 0 20px;
    padding: 5px;
    color: #002389;
    font-family: 'soleto', Arial, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-input-placeholder {
    color: #002389;
}
:-moz-placeholder { /* Firefox 18- */
    color: #002389;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #002389;
}
:-ms-input-placeholder {
    color: #002389;
}
.wpcf7-form-control-wrap {
    width: 100%;
    overflow: hidden;
}
.wpcf7-form-control-wrap div div {
    margin: 0 auto;
}
.search-form button {
    display: inline-flex;
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/

@media all and (min-width: 32em) {
    .desktop-only {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .breadcrumb-container {
        background: none;
        margin-bottom: 0;
    }
    .nav-wrapper {
        display: block;
    }
    .mobile {
        display: none;
    }
    .news-column {
        width: 49%;
        margin: 0 1%;
    }
    .news-column a div.bottom {
        margin: 0 0 0 0;
    }
    .no-margin-right {
        margin-right: 0;
    }
    .no-margin-left {
        margin-left: 0;
    }
    .search-field {
        margin-left: 10px;
        width: auto;
    }
    .social {
        float: left;
    }
    .search-bar {
        width: auto;
        -webkit-appearance: none;
    }
    ul.menu li {
        display: inline-block;
        flex-grow: 1;
        padding-right: 10px;
        width: auto;
        float: none;
    }
    .testimonial {
        margin-top: 180px;
    }
    ul.testimonial-bar li {
        display: inline-block;
        color: #fcf400;
        font-weight: 400;
        font-size: 24px;
        padding: 20px 0;
        margin: 0;
        width: auto;
        text-align: center;
    }
    ul.testimonial-bar li:after {
        display: inline-block;
        height: 18px;
        line-height: 40px;
        border-right: 3px solid #ffffff;
        margin: 0 20px;
        content: "";
    }
    ul.testimonial-bar li:last-child {
        border-right: none;
        line-height: 0;
    }
    ul.testimonial-bar li.last:after {
        border-right: none;
        margin: 0;
    }
    ul.menu {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-navigation ul.menu li:first-child {
        display: flex;
    }
    .menu-secondary-menu-container ul.menu li {
        display: inline-block;
        flex-grow: 1;
        padding-right: 20px;
        width: auto;
    }
    .menu-secondary-menu-container ul.menu li.last {
        padding-right: 0;
    }
    .cta-block ul li {
        width: 317px;
    }
    .footer-column {
        ul.menu li {
            width: 100%;
        }
    }
}
@media all and (min-width: 60em) {
    .container {
        padding: 0;
    }
    .right {
        float: right;
    }
    .mobile-only {
        display: block;
    }
    /*------------------------------------------
	# Navigation
	------------------------------------------*/
    ul.menu {
        padding-left: 0;
        padding-right: 0;
    }
    .menu-secondary-menu-container ul.menu li {
        padding-right: 40px;
        flex-grow: 1;
    }
    .main-navigation {
        padding: 15px 0 0 0;
        margin-top: 13px;
    }
    .main-navigation a, .secondary-navigation a {
        font-size: 17px;
    }
    .first {
        padding-left: 0;
    }
    .menu-primary-nav-container ul.menu li.last, .menu-secondary-menu-container ul.menu li.last {
        padding-right: 0;
    }
    .menu-primary-nav-container ul.menu li.last{
        margin-right: -10px;
    }
    ul.menu li, .menu-secondary-menu-container ul.menu li {
        margin: 0;
    }
    /*------------------------------------------
	# Containers
	------------------------------------------*/
    .site-main {
        float: left;
        width: 100%;
    }
    .entry-content {
        width:100%;
        float: left;
        margin: 30px auto;
    }
    .mailing-bar {
        max-width: 1020px;
        height: 50px;
        margin: 0 auto;
        text-align: left;
    }
    .cta-block {
        max-width: 1020px;
        margin: 0 auto;
    }
    .cta-block-container {
        padding: 5px 0 40px 0;
    }
    .cta-block ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cta-block-image {
        float:left;
        width:35%;
        padding:20px 5px;
        position: relative;
    }
    .cta-block-text {
        font-family: 'soleto', Arial, serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 28px;
        float: left;
        width: 65%;
        padding: 20px 5px;
        text-align: left;
        text-transform: uppercase;
        min-height: 200px;
        position: relative;
    }
    .testimonial {
        margin-top: 440px;
        float: none;
    }
    .testimonial-text div {
        display: block;
        position: relative;
        height: 10px;
    }
    .testimonial-button {
        float: left;
        width: 35%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
    }
    .testimonial-text {
        float: left;
        width: 65%;
        text-align: left;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .testimonial-text div {
        position: relative;
        height: 10px;
    }
    .testimonial-img {
        float: left;
        width: 100%;
    }
    .stockist-bar {
        max-width: 1020px;
        text-align: left;
        padding: 12px 20px;
        margin: 0 auto;
        line-height: 40px;
    }
    .search-bar {
        text-align: left;
        margin-top: 5px;
    }
    .latest-news {
        margin: 0 auto 20px auto;
    }
    .breadcrumbs, .back {
        margin: 10px 0;
    }
    /*------------------------------------------
	# Forms
	------------------------------------------*/
    .email-form {
        float: right;
        width: 370px;
        text-align: right;
    }
    .stockist-form {
        float: right;
        margin: 0;
    }
    .search-form {
        text-align: right;
    }
    /*------------------------------------------
	# Buttons
	------------------------------------------*/
    .button {
        margin-top: 20px;
        font-size: 21px;
        font-weight: 400;
        text-transform: none;
        display: block;
        text-align: center;
        width: 90%;
        padding: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: absolute;
    }
    .news-button {
        margin: 20px auto 0 auto;
        width: 30%;
    }
    /*------------------------------------------
	# Media
	------------------------------------------*/
    .branding img {
        width: 225px;
        position: absolute;
        top: -26px;
        left: 0;
        margin: 0;
    }
    /*------------------------------------------
	# Footer
	------------------------------------------*/
    .footer-column {
        width: 25%;
        text-align: left;
        padding: 70px 5px 40px 5px;
    }
    .footer-logo img {
        width: 225px;
        position: absolute;
        top: -26px;
        right: 0;
        left: auto;
    }
    .details {
        max-width: 63.750em;
        margin: 0 auto;
    }
    .details ul {
        margin: 0;
        padding: 0;
        font-size: 11.5px;
        float: left;
    }
    .details {
        width: 100%;
        float: left;
    }
    .details ul li {
        float: left;
    }
    .details ul li:after {
        height: 5px;
        line-height: 5px;
        border-right: 1px solid #405aa7;
        margin: 0 8px;
        content: "";
    }
    .details ul li.last:after {
        border-right: none;
        margin: 0;
    }

}