.archive .breadcrumb-container {
    margin-bottom: 10px;
}
.archive .stockist-container {
    padding: 0 1em;
}
.woocommerce .breadcrumb-container {
    margin-bottom: 10px;
}
.images {
    border-top: 1px #b4bedb solid;
    border-left: 1px #b4bedb solid;
    padding: 10px 0 0 10px;
}
.product-content {
    text-align: left;
    width: 100%;
}
.product-content ul {
    list-style-type: disc;
    margin: 0 0 45px 20px;
}
.product-content ul li {
    margin: 0;
}
.product .stockist-container {
    margin: 0;
}
.product .stockist {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
.product .stockist.open {
    height: 300px;
}
.buying-options {
    text-align: left;
}
.buying-options ul {
    width: 100%;
    margin: 5px 0 35px 0;
}
.buying-options ul li {
    border-top: 1px #b4bedb solid;
    border-bottom: 1px #b4bedb solid;
    padding: 5px 0;
}
.buying-options ul li.last {
    border-top: none;
}
.gallery-bar {
    border-radius: 5px;
    text-transform: uppercase;
    padding: 20px;
    color: #002389;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
}
.gallery {
    margin: 20px 0 55px 0;
    width: 100%;
}
#submissionForm {
    display:none;
    height: 100px;
    width: 60% !important;
}
.submissionForm {
    background: #ffdd00;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.submissionForm input[type="text"],
.submissionForm input[type="email"],
.submissionForm input[type="url"],
.submissionForm input[type="password"],
.submissionForm input[type="search"],
.submissionForm input[type="number"],
.submissionForm input[type="tel"],
.submissionForm input[type="range"],
.submissionForm input[type="date"],
.submissionForm input[type="month"],
.submissionForm input[type="week"],
.submissionForm input[type="time"],
.submissionForm input[type="datetime"],
.submissionForm input[type="datetime-local"],
.submissionForm input[type="color"],
.submissionForm textarea {
    color: #002389;
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}
.submissionForm input[type="submit"] {
    background: #002389;
    width: 100%;
    max-width: 300px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px auto;
}
.testimonial-button a.button {
    margin-top: 0;
    font-size: 21px;
    font-weight: 400;
    text-transform: none;
    display: block;
    text-align: center;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -60px;
    background: #ffdd00;
    color: #002389;
    max-width: 100%;
}
.testimonial-button a.button:hover {
    text-decoration: none;
    color: #002389;
    background: #ffdd00;
    opacity: 0.75;
}
.woocommerce .breadcrumbs {
    padding: 0 1em;
}
.product-background {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: #ffdd00;
}
.product-background .container {
    padding: 0;
}
.woocommerce ul.products {
    width:100%;
    margin: 0;
    position: relative;
    background-image: url("../img/category-background.jpg");
    background-repeat:   repeat-y;
    background-position: center -50px;
}
.woocommerce .related ul.products {
    background: none;
}
.woocommerce-info {
    background: none;
    border: none;
}
.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before {
    content: '';
}
.woocommerce img, .woocommerce-page img {
    border-radius: 5px;
}
.related {
    float: left;
    width: 100%;
    margin: 50px 0 0 0;
    border-top: 1px #b4bedb solid;
    padding: 50px 0 0 0;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    position: relative;
    z-index: 100;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0 1em;
}
.woocommerce ul.products li.product a {
    display: block;
}
.woocommerce ul.products li.product a img {
    margin-bottom: 10px;
}
.woocommerce .cta-block-container {
    background: none;
}
.woocommerce .cta-block-container a.button {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;
    text-transform: none;
    display: block;
    text-align: center;
    width: 90%;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    color: #002389;
    background: #fff;
}
.woocommerce .breadcrumbs {
    padding: 0 15px;
}
/*------------------------------------------
# Typography
------------------------------------------*/
.woocommerce ul.products li.product h3 {
    color: #405aa7;
    font-size: 17px;
    line-height: 22px;
    font-family: 'soleto', Arial, serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
}
.woocommerce div.product .product_title {
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.option-title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    float: left;
}
.gallery-title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}
.gallery-bar .icon-arrow-right {
    line-height: 1;
    padding: 0.1em 1.2em 0.1em 1.2em;
}
/*------------------------------------------
# Buttons / Page Numbers
------------------------------------------*/
.woocommerce nav.woocommerce-pagination ul {
    border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
    border: none;
}
.woocommerce ul.products li.product .button {
    background: url("../img/right-arrow.png") no-repeat center;
    padding: 15px;
    height: 15px;
    margin: 10px auto 0 auto;
    width: 100%;
}
.pp_content {
    height: 500px;
}


.single-product .breadcrumb-container {
    background: #ffffff;
}
.single-product .woocommerce .breadcrumbs, .single-product .breadcrumb-container .container {
    padding: 0;
}

.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a {
    color: #405aa7;
    text-transform: none;
    font-size: 14px;
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/

@media all and (min-width: 32em) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        padding: 0;
    }
    .woocommerce ul.products {
        margin: 20px 0;
    }
    .product-container {
        width: 47%;
        float: left;
        margin: 0 3% 0 0;
    }
    .product-content {
        width: 47%;
        float: left;
    }
    .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
        width: 100%;
        min-height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-content .site-button {
        float: left;
        margin-bottom: 20px;
    }
    .gallery-bar .icon-arrow-right {
        padding: 0.1em 1em 0.1em 1em;
    }
    .buying-options {
        text-align: right;
    }
    .product-carpet-protection-film ul.products li.product_cat-floor-protection-films {
        width: 31%;
        margin: 0 1%;
    }
}
@media all and (min-width: 48em) {

}
@media all and (min-width: 60em) {
    .woocommerce .breadcrumbs {
        padding: 0;
    }
    .product-type-simple {
        padding: 0;
    }
    .testimonial-button a.button {
        margin-top: 20px;
        width: 90%;
        position: absolute;
        bottom: 0;
    }
    .gallery-title {
        float: left;
    }
    .gallery-bar {
        line-height: 40px;
        padding: 5px 20px;
        text-align: right;
    }
    .single-product .testimonial-block-container {
        margin-bottom: 0;
    }
}